html, body {
	font-family: sans-serif;
	font-size: 12px;
}

/* HEADER */

.header {
	display: inline-flex;
	align-items: center;
	width: 1100px;
	height: 80px;
	background-color: black;
	padding-left: 200px;
}

.logo {
	display: inline-block;
	width: 60px;
	height: 60px;
	background-image: url("../images/logo.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.logo-title {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
	width: 250px;
	height: 80px;
	color: white;
}

/* BANNER */

.banner {
	display: inline-flex;
	align-items: center;
	height: 300px;
	width: 1100px;
	background-image: url(../images/moto.jpeg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-left: 200px;

}

.banner-box {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	height: 175px;
	width: 300px;
	background-color: black;
	padding-left: 20px;
}

.banner-box-title {
	display: inline-flex;
	height: 50px;
	color: white;
}

.banner-box-text {
	display: inline-flex;
	height: 50px;
	font-size: 30px;
	color: white;
}

/* NAVIGATION */

.navigation {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	width: 1100px;
	background-color: red;
	padding-left: 20px;
	color: white;
	padding-left: 200px;
}

.nav-item {
	display: inline-flex;
	padding-right: 70px;
}

/* PRODUCTS */

.products {
	display: inline-flex;
	justify-content: space-around;
	align-items: center;
	width: 700px;
	height: 300px;
	padding-left: 200px;
	flex-wrap: wrap;
	margin-top: 20px;
}

.products-first {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	width: 200px;
	height: 250px;
	border: 2px solid black;
}

.products-first-image {
	display: inline-flex;
	justify-content: center;
	width: 150px;
	height: 200px;
	background-image: url("../images/pen.png");
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 15px;
	margin-bottom: 15px;
}

.products-first-text {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 50px;
	background-color: black;
	color: white;
}

.products-second {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	width: 200px;
	height: 250px;
	border: 2px solid black;
}

.products-second-image {
	display: inline-flex;
	justify-content: center;
	width: 150px;
	height: 200px;
	background-image: url("../images/watch.png");
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 15px;
	margin-bottom: 15px;
}

.products-second-text {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 50px;
	background-color: black;
	color: white;
}

.products-third {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	width: 200px;
	height: 250px;
	border: 2px solid black;
}

.products-third-image {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 200px;
	background-image: url("../images/glasses.png");
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 50px;
	margin-bottom: 50px;
}

.products-third-text {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 85px;
	background-color: black;
	color: white;
}

/* LOCATIONS AND HOURS */

.location-hours {
	display: inline-flex;
	justify-content: space-between;
	width: 500px;
	height: 100px;
	padding-left: 300px;
	padding-top: 20px;
}

.location {
	display: inline-flex;
	flex-direction: column;
	width: 200px;
	height: 100px;
}

.location-box {
	display: inline-flex;
	align-items: center;
	width: 200px;
	height: 50px;
	background-color: black;
	color: white;
	padding-left: 10px;
}

.location-text {
	display: inline-flex;
	align-items: center;
	width: 200px;
	height: 50px;
	color: black;
	padding-left: 10px;
}

.hours {
	display: inline-flex;
	flex-direction: column;
	width: 200px;
	height: 100px;
}

.hours-box {
	display: inline-flex;
	align-items: center;
	width: 200px;
	height: 50px;
	background-color: black;
	color: white;
	padding-left: 10px;
}

.hours-text {
	display: inline-flex;
	align-items: center;
	width: 200px;
	height: 50px;
	color: black;
	padding-left: 10px;
}

/* FOOTER */

.footer {
	display: inline-flex;
	width: 1100px;
	height: 150px;
	border: 1px solid gray;
	background-color: black;
	padding-left: 200px;
	margin-top: 75px;
}

.footer-text {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	height: 150px;
}